{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"></link>
  </head>
<body class="">
  <a href="/bootstrapaa/">服务列表</a>
  <main id="all-packages" class="packages-list-container">
    <div class="container-fluid">
      <a href="/bootstrap/">
      <!--<a onclick="_hmt.push(['_trackEvent', 'packages', 'click', 'bootstrap'])" target="_blank" data-library-name="bootstrap" class="package list-group-item" href="/bootstrap/"> -->
      <a onclick="_hmt.push(['_trackEvent', 'packages', 'click', 'bootstrap'])" target="_blank" data-library-name="bootstrap" class="package list-group-item" href="/bootstrap/">
        <div class="row">
          <div class="col-md-3">
            <p class="package-name">bootstrap</p>
          </div>
          <div class="col-md-9">
            <p class="package-description">The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
          </div>
       </div>
      </a>
    </div>
  </main>
</body>
